In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
import warnings     #To ignore warnings
warnings.filterwarnings("ignore")
data_full=pd.read_csv("/Users/manaschakraborty/Library/Mobile Documents/com~apple~Numbers/Documents/DataCoSupplyChainDataset2.csv")
data_full.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [3]:
data_full.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [4]:
data_full.duplicated().sum()

0

In [5]:
data_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Type                           65534 non-null  object
 1   Days for shipping (real)       65534 non-null  int64
 2   Days for shipment (scheduled)  65534 non-null  int64
 3   Benefit per order              65534 non-null  float64
 4   Sales per customer             65534 non-null  float64
 5   Delivery Status                65534 non-null  object
 6   Late_delivery_risk             65534 non-null  int64
 7   Category Id                    65534 non-null  int64
 8   Category Name                  65534 non-null  object
 9   Customer City                  65534 non-null  object
 10  Customer Country               65534 non-null  object
 11  Customer Email                 65534 non-null  object
 12  Customer Fname                 65534 non-null  object
 13  Customer Id                    65534 non-null  int64
 14  Customer Lname                 65532 non-null  object
 15  Customer Password              65534 non-null  object
 16  Customer Segment               65534 non-null  object
 17  Customer State                 65534 non-null  object
 18  Customer Street                65534 non-null  object
 19  Customer Zipcode               65532 non-null  float64
 20  Department Id                  65534 non-null  int64
 21  Department Name                65534 non-null  object
 22  Latitude                       65534 non-null  float64
 23  Longitude                      65534 non-null  float64
 24  Market                         65534 non-null  object
 25  Order City                     65534 non-null  object
 26  Order Country                  65534 non-null  object
 27  Order Customer Id              65534 non-null  int64
 28  order date (DateOrders)        65534 non-null  object
 29  Order Id                       65534 non-null  int64
 30  Order Item Cardprod Id         65534 non-null  int64
 31  Order Item Discount            65534 non-null  float64
 32  Order Item Discount Rate       65534 non-null  float64
 33  Order Item Id                  65534 non-null  int64
 34  Order Item Product Price       65534 non-null  float64
 35  Order Item Profit Ratio        65534 non-null  float64
 36  Order Item Quantity            65534 non-null  int64
 37  Sales                          65534 non-null  float64
 38  Order Item Total               65534 non-null  float64
 39  Order Profit Per Order         65534 non-null  float64
 40  Order Region                   65534 non-null  object
 41  Order State                    65534 non-null  object
 42  Order Status                   65534 non-null  object
 43  Order Zipcode                  7571 non-null   float64
 44  Product Card Id                65534 non-null  int64
 45  Product Category Id            65534 non-null  int64
 46  Product Description            0 non-null      float64
 47  Product Image                  65534 non-null  object
 48  Product Name                   65534 non-null  object
 49  Product Price                  65534 non-null  float64
 50  Product Status                 65534 non-null  int64
 51  shipping date (DateOrders)     65534 non-null  object
 52  Shipping Mode                  65534 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 26.5+ MB

In [6]:
data_full.describe()

,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Late_delivery_risk,Category Id,Customer Id,Customer Zipcode,Department Id,Latitude,...,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Price,Product Status
count,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65534.000000,65532.000000,65534.000000,65534.000000,...,65534.000000,65534.000000,65534.000000,65534.000000,7571.000000,65534.000000,65534.000000,0.0,65534.000000,65534.0
mean,3.422666,2.802622,21.346697,175.972695,0.581057,28.959868,6835.297052,38288.324681,5.092029,30.470101,...,2.182424,196.006252,175.972695,21.346697,55163.534936,624.047624,28.959868,NaN,130.136205,0.0
std,1.631240,1.402022,103.758815,122.301810,0.493390,15.905382,4352.855965,37641.816609,1.614476,9.640074,...,1.507068,135.390668,122.301810,103.758815,31831.696041,333.018492,15.905382,NaN,134.198124,0.0
min,0.000000,0.000000,-4274.979980,7.490000,0.000000,2.000000,1.000000,603.000000,2.000000,-33.937553,...,1.000000,9.990000,7.490000,-4274.979980,1453.000000,19.000000,2.000000,NaN,9.990000,0.0
25%,2.000000,2.000000,6.150000,100.779999,0.000000,17.000000,3268.000000,725.000000,4.000000,18.274204,...,1.000000,119.980003,100.779999,6.150000,23434.000000,365.000000,17.000000,NaN,50.000000,0.0
50%,3.000000,4.000000,29.910000,153.559998,1.000000,24.000000,6563.000000,24730.500000,5.000000,33.735832,...,1.000000,179.970001,153.559998,29.910000,57103.000000,502.000000,24.000000,NaN,84.400002,0.0
75%,5.000000,4.000000,62.400002,239.979996,1.000000,43.000000,9932.000000,79907.000000,7.000000,39.638153,...,3.000000,297.000000,239.979996,62.400002,90004.000000,957.000000,43.000000,NaN,199.990005,0.0
max,6.000000,4.000000,864.000000,1899.989990,1.000000,76.000000,20757.000000,99205.000000,12.000000,48.781933,...,5.000000,1999.989990,1899.989990,864.000000,99301.000000,1363.000000,76.000000,NaN,1999.989990,0.0

In [7]:
country_data=data_full[["Order City","Order Country","Order Region"]]
country_data.head(10)

   Order City Order Country    Order Region
0      Bekasi     Indonesia  Southeast Asia
1     Bikaner         India      South Asia
2     Bikaner         India      South Asia
3  Townsville     Australia         Oceania
4  Townsville     Australia         Oceania
5   Toowoomba     Australia         Oceania
6   Guangzhou         China    Eastern Asia
7   Guangzhou         China    Eastern Asia
8   Guangzhou         China    Eastern Asia
9   Guangzhou         China    Eastern Asia

In [8]:
indian_data=data_full.loc[data_full["Order Country"]=="India"]
indian_data2=indian_data.loc[indian_data["Order Status"]=="PENDING"]
data2=indian_data2[["Order City","Order Status"]]
data2.head(50)

        Order City Order Status
1          Bikaner      PENDING
21        Jabalpur      PENDING
45       Bangalore      PENDING
46       Bangalore      PENDING
382           Pune      PENDING
708         Jaipur      PENDING
1024        Ranchi      PENDING
1031          Durg      PENDING
1054          Durg      PENDING
1161         Patna      PENDING
1163         Patna      PENDING
1167     Faridabad      PENDING
1236      Fatehpur      PENDING
1279          Kota      PENDING
1831      Guwahati      PENDING
2565        Rohtak      PENDING
2568        Mumbai      PENDING
2757         Kulti      PENDING
2759        Imphal      PENDING
5004     Gorakhpur      PENDING
5026     Bangalore      PENDING
5338         Patna      PENDING
5360       Lucknow      PENDING
10191      Lucknow      PENDING
10866        Patna      PENDING
10873        Hubli      PENDING
10886       Nagpur      PENDING
10889        Ajmer      PENDING
11438     Amravati      PENDING
11447       Raipur      PENDING
11608        Thane      PENDING
11611        Dewas      PENDING
17123  Tirunelveli      PENDING
17125         Pune      PENDING
17131    Bangalore      PENDING
17148       Mumbai      PENDING
17149    Darbhanga      PENDING
17160    Gorakhpur      PENDING
17174      Aligarh      PENDING
17182      Lucknow      PENDING
17187      Lucknow      PENDING
17193   Saharanpur      PENDING
30434     Vadodara      PENDING
30449        Delhi      PENDING
30451        Delhi      PENDING
30462       Bhopal      PENDING
30478       Imphal      PENDING
30484      Jodhpur      PENDING
30491       Raipur      PENDING
30813        Delhi      PENDING

In [9]:
data2.tail()

       Order City Order Status
52569       Ajmer      PENDING
52617    Jamnagar      PENDING
62400  Puducherry      PENDING
62418      Ranchi      PENDING
62424     Lucknow      PENDING

In [10]:
data2.tail(50)

        Order City Order Status
11447       Raipur      PENDING
11608        Thane      PENDING
11611        Dewas      PENDING
17123  Tirunelveli      PENDING
17125         Pune      PENDING
17131    Bangalore      PENDING
17148       Mumbai      PENDING
17149    Darbhanga      PENDING
17160    Gorakhpur      PENDING
17174      Aligarh      PENDING
17182      Lucknow      PENDING
17187      Lucknow      PENDING
17193   Saharanpur      PENDING
30434     Vadodara      PENDING
30449        Delhi      PENDING
30451        Delhi      PENDING
30462       Bhopal      PENDING
30478       Imphal      PENDING
30484      Jodhpur      PENDING
30491       Raipur      PENDING
30813        Delhi      PENDING
30815       Kanpur      PENDING
31003        Ajmer      PENDING
31004        Ajmer      PENDING
31010       Imphal      PENDING
31188       Kanpur      PENDING
31376        Ajmer      PENDING
31381     Jabalpur      PENDING
31384    Gorakhpur      PENDING
31390      Jodhpur      PENDING
32020    Moradabad      PENDING
32032    Bangalore      PENDING
32034     Guwahati      PENDING
32354       Kanpur      PENDING
32715    Moradabad      PENDING
32722     Guwahati      PENDING
32741        Delhi      PENDING
32742      Belgaum      PENDING
50955    Hyderabad      PENDING
52196      Jodhpur      PENDING
52420      Nellore      PENDING
52421      Nellore      PENDING
52434       Jaipur      PENDING
52513        Korba      PENDING
52542       Mumbai      PENDING
52569        Ajmer      PENDING
52617     Jamnagar      PENDING
62400   Puducherry      PENDING
62418       Ranchi      PENDING
62424      Lucknow      PENDING

In [11]:
data2[50:100]

       Order City Order Status
30815      Kanpur      PENDING
31003       Ajmer      PENDING
31004       Ajmer      PENDING
31010      Imphal      PENDING
31188      Kanpur      PENDING
31376       Ajmer      PENDING
31381    Jabalpur      PENDING
31384   Gorakhpur      PENDING
31390     Jodhpur      PENDING
32020   Moradabad      PENDING
32032   Bangalore      PENDING
32034    Guwahati      PENDING
32354      Kanpur      PENDING
32715   Moradabad      PENDING
32722    Guwahati      PENDING
32741       Delhi      PENDING
32742     Belgaum      PENDING
50955   Hyderabad      PENDING
52196     Jodhpur      PENDING
52420     Nellore      PENDING
52421     Nellore      PENDING
52434      Jaipur      PENDING
52513       Korba      PENDING
52542      Mumbai      PENDING
52569       Ajmer      PENDING
52617    Jamnagar      PENDING
62400  Puducherry      PENDING
62418      Ranchi      PENDING
62424     Lucknow      PENDING

In [12]:
data2.tail(100)

       Order City Order Status
1         Bikaner      PENDING
21       Jabalpur      PENDING
45      Bangalore      PENDING
46      Bangalore      PENDING
382          Pune      PENDING
...           ...          ...
52569       Ajmer      PENDING
52617    Jamnagar      PENDING
62400  Puducherry      PENDING
62418      Ranchi      PENDING
62424     Lucknow      PENDING

[79 rows x 2 columns]

In [13]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79 entries, 1 to 62424
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order City    79 non-null     object
 1   Order Status  79 non-null     object
dtypes: object(2)
memory usage: 1.9+ KB

In [14]:
data3=data_full.loc[data_full["Order Status"]=="SUSPECTED_FRAUD"]
fraud_data=data3[["Order Country","Order Status"]]
fraud_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 718 entries, 10 to 62552
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Country  718 non-null    object
 1   Order Status   718 non-null    object
dtypes: object(2)
memory usage: 16.8+ KB

In [15]:
fraud_data.head(20)

      Order Country     Order Status
10            Japón  SUSPECTED_FRAUD
24        Australia  SUSPECTED_FRAUD
183  Estados Unidos  SUSPECTED_FRAUD
184  Estados Unidos  SUSPECTED_FRAUD
185  Estados Unidos  SUSPECTED_FRAUD
186  Estados Unidos  SUSPECTED_FRAUD
187  Estados Unidos  SUSPECTED_FRAUD
188  Estados Unidos  SUSPECTED_FRAUD
189  Estados Unidos  SUSPECTED_FRAUD
190  Estados Unidos  SUSPECTED_FRAUD
191  Estados Unidos  SUSPECTED_FRAUD
192          Canada  SUSPECTED_FRAUD
193  Estados Unidos  SUSPECTED_FRAUD
194          Canada  SUSPECTED_FRAUD
195          Canada  SUSPECTED_FRAUD
196  Estados Unidos  SUSPECTED_FRAUD
197  Estados Unidos  SUSPECTED_FRAUD
198  Estados Unidos  SUSPECTED_FRAUD
395           China  SUSPECTED_FRAUD
407           India  SUSPECTED_FRAUD

In [16]:
fraud_data.tail()

        Order Country     Order Status
62473           China  SUSPECTED_FRAUD
62549  Estados Unidos  SUSPECTED_FRAUD
62550  Estados Unidos  SUSPECTED_FRAUD
62551  Estados Unidos  SUSPECTED_FRAUD
62552  Estados Unidos  SUSPECTED_FRAUD

In [17]:
fraud_data[500:550]

                         Order Country     Order Status
31212                            India  SUSPECTED_FRAUD
31240                   Estados Unidos  SUSPECTED_FRAUD
31241                   Estados Unidos  SUSPECTED_FRAUD
31258  República Democrática del Congo  SUSPECTED_FRAUD
31310                          Francia  SUSPECTED_FRAUD
31311                            Suiza  SUSPECTED_FRAUD
31365                            Haití  SUSPECTED_FRAUD
31366                        Venezuela  SUSPECTED_FRAUD
31367                           Brasil  SUSPECTED_FRAUD
31414                            India  SUSPECTED_FRAUD
31415                            India  SUSPECTED_FRAUD
31416                        Australia  SUSPECTED_FRAUD
31442                   Estados Unidos  SUSPECTED_FRAUD
31443                   Estados Unidos  SUSPECTED_FRAUD
31444                   Estados Unidos  SUSPECTED_FRAUD
31445                   Estados Unidos  SUSPECTED_FRAUD
31446                   Estados Unidos  SUSPECTED_FRAUD
31448                          Irlanda  SUSPECTED_FRAUD
31464                          Francia  SUSPECTED_FRAUD
31479                         Alemania  SUSPECTED_FRAUD
31581                      El Salvador  SUSPECTED_FRAUD
31628                          Turquía  SUSPECTED_FRAUD
31713                        Indonesia  SUSPECTED_FRAUD
31732                            China  SUSPECTED_FRAUD
31742                        Australia  SUSPECTED_FRAUD
31771                         Alemania  SUSPECTED_FRAUD
31849             República Dominicana  SUSPECTED_FRAUD
31926                        SudAfrica  SUSPECTED_FRAUD
31965                   Estados Unidos  SUSPECTED_FRAUD
32012                        Australia  SUSPECTED_FRAUD
32059                          Francia  SUSPECTED_FRAUD
32188                      Reino Unido  SUSPECTED_FRAUD
32334                   Estados Unidos  SUSPECTED_FRAUD
32400                      Reino Unido  SUSPECTED_FRAUD
32406                           España  SUSPECTED_FRAUD
32452                      El Salvador  SUSPECTED_FRAUD
32526                      Reino Unido  SUSPECTED_FRAUD
32528                         Alemania  SUSPECTED_FRAUD
32547                           México  SUSPECTED_FRAUD
32621                           Egipto  SUSPECTED_FRAUD
32662                   Estados Unidos  SUSPECTED_FRAUD
32671                   Estados Unidos  SUSPECTED_FRAUD
32675                   Estados Unidos  SUSPECTED_FRAUD
32792                        Guatemala  SUSPECTED_FRAUD
32830                           Brasil  SUSPECTED_FRAUD
32873                          Francia  SUSPECTED_FRAUD
32891                        Nicaragua  SUSPECTED_FRAUD
32903                           México  SUSPECTED_FRAUD
32935                            Yemen  SUSPECTED_FRAUD
33008                   Estados Unidos  SUSPECTED_FRAUD

In [18]:
fraud_data[300:350]

                         Order Country     Order Status
11545                           Brasil  SUSPECTED_FRAUD
11546                         Colombia  SUSPECTED_FRAUD
11547                         Colombia  SUSPECTED_FRAUD
11548                         Colombia  SUSPECTED_FRAUD
11561                            India  SUSPECTED_FRAUD
11562                        Indonesia  SUSPECTED_FRAUD
11573                          Nigeria  SUSPECTED_FRAUD
11590                           España  SUSPECTED_FRAUD
11591                          Austria  SUSPECTED_FRAUD
11622                        Indonesia  SUSPECTED_FRAUD
11623                            India  SUSPECTED_FRAUD
11627                   Estados Unidos  SUSPECTED_FRAUD
11643                           España  SUSPECTED_FRAUD
11672                            India  SUSPECTED_FRAUD
11679                   Estados Unidos  SUSPECTED_FRAUD
11704                         Alemania  SUSPECTED_FRAUD
11705                          Austria  SUSPECTED_FRAUD
11722                         Colombia  SUSPECTED_FRAUD
11732                        Australia  SUSPECTED_FRAUD
11741                   Estados Unidos  SUSPECTED_FRAUD
11788                        Marruecos  SUSPECTED_FRAUD
11789                        Marruecos  SUSPECTED_FRAUD
11790                        Marruecos  SUSPECTED_FRAUD
11791  República Democrática del Congo  SUSPECTED_FRAUD
11792  República Democrática del Congo  SUSPECTED_FRAUD
14920                          Turquía  SUSPECTED_FRAUD
14921                        Australia  SUSPECTED_FRAUD
14922                        Australia  SUSPECTED_FRAUD
14923                        Australia  SUSPECTED_FRAUD
14924                    Corea del Sur  SUSPECTED_FRAUD
14925                        Australia  SUSPECTED_FRAUD
14926                          Turquía  SUSPECTED_FRAUD
14927               Myanmar (Birmania)  SUSPECTED_FRAUD
14928                        Australia  SUSPECTED_FRAUD
14929                         Singapur  SUSPECTED_FRAUD
14930                        Australia  SUSPECTED_FRAUD
14931                             Irak  SUSPECTED_FRAUD
14932                             Irak  SUSPECTED_FRAUD
15074                           Canada  SUSPECTED_FRAUD
15075                   Estados Unidos  SUSPECTED_FRAUD
15076                   Estados Unidos  SUSPECTED_FRAUD
15077                           Canada  SUSPECTED_FRAUD
15078                   Estados Unidos  SUSPECTED_FRAUD
15079                   Estados Unidos  SUSPECTED_FRAUD
15080                   Estados Unidos  SUSPECTED_FRAUD
15081                   Estados Unidos  SUSPECTED_FRAUD
15082                   Estados Unidos  SUSPECTED_FRAUD
15083                   Estados Unidos  SUSPECTED_FRAUD
15137                          Argelia  SUSPECTED_FRAUD
15138                          Nigeria  SUSPECTED_FRAUD

In [19]:
fraud_data.value_counts()

Order Country   Order Status
Estados Unidos  SUSPECTED_FRAUD    109
Francia         SUSPECTED_FRAUD     70
México          SUSPECTED_FRAUD     56
Brasil          SUSPECTED_FRAUD     45
Alemania        SUSPECTED_FRAUD     32
                                  ...
Noruega         SUSPECTED_FRAUD      1
Pakistán        SUSPECTED_FRAUD      1
Sudán           SUSPECTED_FRAUD      1
Suecia          SUSPECTED_FRAUD      1
Afganistán      SUSPECTED_FRAUD      1
Length: 68, dtype: int64

In [21]:
data5=data_full.loc[data_full["Order Item Discount"]>=100]
maxdisc=data5[["Order Item Discount","Product Name",]]
maxdisc.head()

     Order Item Discount                         Product Name
129           112.489998  Brooks Women's Ghost 6 Running Shoe
155           105.000000                          Dell Laptop
160           135.000000                          Dell Laptop
172           300.000000                          Dell Laptop
173           113.010002                           Web Camera

In [22]:
maxdisc.head(50)

      Order Item Discount                               Product Name
129            112.489998        Brooks Women's Ghost 6 Running Shoe
155            105.000000                                Dell Laptop
160            135.000000                                Dell Laptop
172            300.000000                                Dell Laptop
173            113.010002                                 Web Camera
697            124.989998          Nike Men's Free 5.0+ Running Shoe
931            124.989998          Nike Men's Free 5.0+ Running Shoe
932            124.989998          Nike Men's Free 5.0+ Running Shoe
933            124.989998          Nike Men's Free 5.0+ Running Shoe
934            124.989998          Nike Men's Free 5.0+ Running Shoe
1353           270.000000                                Dell Laptop
1370           225.000000                                Dell Laptop
1375           255.000000                                Dell Laptop
1578           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
1579           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
1580           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
1594           375.000000                                Dell Laptop
1843           124.989998          Nike Men's Free 5.0+ Running Shoe
1967           124.989998          Nike Men's Free 5.0+ Running Shoe
2263           115.370003                           Porcelain crafts
3495           225.000000                                Dell Laptop
3496           255.000000                                Dell Laptop
3599           115.370003                           Porcelain crafts
3627           133.149994                                 Lawn mower
3628           133.149994                                 Lawn mower
3704           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
3885           124.989998          Nike Men's Free 5.0+ Running Shoe
3921           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
3976           135.000000                                Dell Laptop
4170           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
4171           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
4175           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
4178           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
4181           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
4314           133.149994                                 Lawn mower
5774           195.000000                                Dell Laptop
5775           113.010002                                 Web Camera
6950           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
6953           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
6954           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
6999           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
7714           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
7740           133.149994                                 Lawn mower
7960           300.000000                                Dell Laptop
7961           300.000000                                Dell Laptop
8033           115.370003                           Porcelain crafts
8034           115.370003                           Porcelain crafts
8089           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
8090           100.000000  Field & Stream Sportsman 16 Gun Fire Safe
8092           100.000000  Field & Stream Sportsman 16 Gun Fire Safe

In [23]:
maxdisc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 430 entries, 129 to 65171
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order Item Discount  430 non-null    float64
 1   Product Name         430 non-null    object
dtypes: float64(1), object(1)
memory usage: 10.1+ KB

In [24]:
maxdisc.value_counts()

Order Item Discount  Product Name
100.000000           Field & Stream Sportsman 16 Gun Fire Safe    148
124.989998           Nike Men's Free 5.0+ Running Shoe             78
113.010002           Web Camera                                    22
255.000000           Dell Laptop                                   17
240.000000           Dell Laptop                                   17
270.000000           Dell Laptop                                   16
135.000000           Dell Laptop                                   15
300.000000           Dell Laptop                                   12
115.370003           Porcelain crafts                              12
150.000000           Dell Laptop                                   12
133.149994           Lawn mower                                    11
105.000000           Dell Laptop                                   11
180.000000           Dell Laptop                                   11
225.000000           Dell Laptop                                    9
375.000000           Dell Laptop                                    9
195.000000           Dell Laptop                                    8
106.519997           Lawn mower                                     7
100.000000           LIJA Women's Mid-Length Panel Golf Shorts      2
108.000000           Bowflex SelectTech 1090 Dumbbells              1
100.000000           GoPro HERO3+ Black Edition Camera              1
                     SOLE E35 Elliptical                            1
                     Garmin Forerunner 910XT GPS Watch              1
500.000000           SOLE E35 Elliptical                            1
112.489998           Brooks Women's Ghost 6 Running Shoe            1
120.000000           Bowflex SelectTech 1090 Dumbbells              1
123.750000           The North Face Women's Recon Backpack          1
124.989998           TaylorMade White Smoke IN-12 Putter            1
400.000000           SOLE E35 Elliptical                            1
200.000000           SOLE E35 Elliptical                            1
240.000000           SOLE E35 Elliptical                            1
125.000000           LIJA Women's Mid-Length Panel Golf Shorts      1
dtype: int64

In [158]:
data6=data_full.loc[data_full["Order Status"]=="COMPLETE"]
successdata=data6[["Days for shipping (real)","Days for shipment (scheduled)","Order Status"]]
successdata.head(10)

    Days for shipping (real)  Days for shipment (scheduled) Order Status
0                          3                              4     COMPLETE
3                          3                              4     COMPLETE
6                          2                              1     COMPLETE
13                         2                              1     COMPLETE
15                         2                              1     COMPLETE
18                         2                              1     COMPLETE
25                         6                              2     COMPLETE
28                         3                              4     COMPLETE
31                         5                              4     COMPLETE
33                         2                              1     COMPLETE

In [186]:
successdata["Days for shipping (real)"] > successdata["Days for shipment (scheduled)"]

0        False
3        False
6         True
13        True
15        True
         ...
65529     True
65530     True
65531     True
65532     True
65533     True
Length: 26700, dtype: bool

In [175]:
successdata.value_counts()

Days for shipping (real)  Days for shipment (scheduled)  Order Status
2                         1                              COMPLETE        4684
                          4                              COMPLETE        2962
3                         4                              COMPLETE        2855
5                         4                              COMPLETE        2801
4                         4                              COMPLETE        2799
6                         4                              COMPLETE        2780
3                         2                              COMPLETE        1334
4                         2                              COMPLETE        1296
2                         2                              COMPLETE        1241
6                         2                              COMPLETE        1211
5                         2                              COMPLETE        1080
0                         0                              COMPLETE         883
1                         0                              COMPLETE         774
dtype: int64

In [176]:
successdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26700 entries, 0 to 65533
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Days for shipping (real)       26700 non-null  int64
 1   Days for shipment (scheduled)  26700 non-null  int64
 2   Order Status                   26700 non-null  object
dtypes: int64(2), object(1)
memory usage: 834.4+ KB

In [193]:
successdata2=successdata.loc[successdata["Days for shipping (real)"]>successdata["Days for shipment (scheduled)"]]
successdata2.head(20)

     Days for shipping (real)  Days for shipment (scheduled) Order Status
6                           2                              1     COMPLETE
13                          2                              1     COMPLETE
15                          2                              1     COMPLETE
18                          2                              1     COMPLETE
25                          6                              2     COMPLETE
31                          5                              4     COMPLETE
33                          2                              1     COMPLETE
37                          2                              1     COMPLETE
38                          1                              0     COMPLETE
41                          1                              0     COMPLETE
145                         3                              2     COMPLETE
146                         4                              2     COMPLETE
147                         3                              2     COMPLETE
148                         6                              2     COMPLETE
149                         3                              2     COMPLETE
150                         6                              2     COMPLETE
151                         6                              2     COMPLETE
152                         5                              2     COMPLETE
154                         3                              2     COMPLETE
155                         5                              2     COMPLETE

In [194]:
successdata2[50:100]

     Days for shipping (real)  Days for shipment (scheduled) Order Status
253                         5                              4     COMPLETE
258                         6                              4     COMPLETE
263                         5                              4     COMPLETE
264                         5                              4     COMPLETE
269                         5                              4     COMPLETE
277                         6                              4     COMPLETE
279                         5                              4     COMPLETE
282                         6                              4     COMPLETE
283                         5                              4     COMPLETE
285                         6                              4     COMPLETE
286                         5                              4     COMPLETE
287                         6                              4     COMPLETE
288                         5                              4     COMPLETE
290                         5                              4     COMPLETE
291                         5                              4     COMPLETE
300                         6                              4     COMPLETE
301                         6                              4     COMPLETE
304                         6                              4     COMPLETE
308                         5                              4     COMPLETE
309                         6                              4     COMPLETE
312                         6                              4     COMPLETE
314                         5                              4     COMPLETE
315                         6                              4     COMPLETE
316                         5                              4     COMPLETE
317                         6                              4     COMPLETE
364                         6                              2     COMPLETE
365                         5                              4     COMPLETE
371                         2                              1     COMPLETE
374                         6                              4     COMPLETE
383                         2                              1     COMPLETE
384                         2                              1     COMPLETE
385                         2                              1     COMPLETE
394                         6                              4     COMPLETE
396                         4                              2     COMPLETE
400                         5                              2     COMPLETE
404                         6                              4     COMPLETE
419                         6                              2     COMPLETE
421                         2                              1     COMPLETE
429                         6                              4     COMPLETE
434                         6                              4     COMPLETE
435                         5                              4     COMPLETE
439                         6                              4     COMPLETE
446                         4                              2     COMPLETE
448                         1                              0     COMPLETE
449                         1                              0     COMPLETE
450                         1                              0     COMPLETE
453                         1                              0     COMPLETE
454                         6                              4     COMPLETE
455                         5                              4     COMPLETE
547                         4                              2     COMPLETE

In [195]:
successdata2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15960 entries, 6 to 65533
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Days for shipping (real)       15960 non-null  int64
 1   Days for shipment (scheduled)  15960 non-null  int64
 2   Order Status                   15960 non-null  object
dtypes: int64(2), object(1)
memory usage: 498.8+ KB

In [196]:
successdata2.value_counts()

Days for shipping (real)  Days for shipment (scheduled)  Order Status
2                         1                              COMPLETE        4684
5                         4                              COMPLETE        2801
6                         4                              COMPLETE        2780
3                         2                              COMPLETE        1334
4                         2                              COMPLETE        1296
6                         2                              COMPLETE        1211
5                         2                              COMPLETE        1080
1                         0                              COMPLETE         774
dtype: int64